#seccion_1{
    background-color: aquamarine;
    border: blueviolet 7px dashed;
}

#seccion_2{
    background-color: lawngreen;
    border: lightyellow 15px double
}

#seccion_3{
    background-color: goldenrod;
    border: rgb(48, 155, 173) 10px dotted
}

.info{
    text-align: center;
    font-style: oblique;
    padding: 15px;
}

p{
    font-style: italic;
}

.boton{
    border-radius: 20px;
    padding: 20px;
}

.boton:hover{
    background-color: rgb(255, 255, 255);
}

.boton1{
    background-color: aquamarine;
}

.boton2{
    background-color: lawngreen;
}

.boton3{
    background-color: goldenrod;
}